{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>SignUp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'login/images/bg-01.jpg' %}');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					SignUp A New Account
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5" method="POST">
					{% csrf_token %}



					{% if messages %}
					{% for message in messages %}
										<div class="{{ message.tags }} alert-dismissible fade show m-t-30" role="alert">
					  {{ message }}
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span> 
					  </button>
					</div>
					{% endfor %}
					{% endif %}



					<form action="#" class="signin-form">

<!-- get username -->
						<div class="form-group validate-input"  date-validate="Enter Username" >
							{% render_field form.username type="text" class="form-control" placeholder="Username" required=True name="username" %}
						  </div>
<!-- get firstname -->
						  <div class="form-group validate-input"  date-validate="Enter Firstname" >
							{% render_field form.first_name type="text" class="form-control" placeholder="Firstname" required=True name="firstname" %}
						  </div>

<!-- get lastname -->
						
							<div class="form-group validate-input"  date-validate="Enter Lastname" >
							  {% render_field form.last_name type="text" class="form-control" placeholder="Lastname" required=True name="lastname" %}
							</div>
<!-- get email -->
					  
						<div class="form-group validate-input"  date-validate="Enter Email" >
						  {% render_field form.email type="text" class="form-control" placeholder="Email" name="email" %}
						</div>

<!-- get nc -->
					
						<div class="form-group validate-input"  date-validate="Enter National Code" >
						  {% render_field form.nc type="text" class="form-control" placeholder="National Code" name="nc" %}
						</div>

<!-- get phonenumber -->
					
						<div class="form-group validate-input"  date-validate="Enter Phone Number" >
						  {% render_field form.phone_number type="text" class="form-control" placeholder="Phone Number" name="phone_number" %}
						</div>

<!-- get bio -->
					
						<div class="form-group validate-input"  date-validate="Enter Biography" >
						  {% render_field form.bio type="text" class="form-control" placeholder="Biography" name="bio" %}
						</div>


{% comment %} <!-- get resume -->
					
<p style="font-size:15px; padding-left:3mm ;">Please Add Your Resume</p>
						  {% render_field form.resume type="file" class="form-control" placeholder="Resume" name="resume" %}
 {% endcomment %}



<!-- get age -->
					
						<div class="form-group validate-input"  date-validate="Enter Age" >
						  {% render_field form.age type="text" class="form-control" placeholder="age" name="age" %}
						</div>


<!-- get gender -->
					
						<div class="form-group validate-input"  date-validate="Enter Gender" >
						  {% render_field form.gender type="text" class="form-control" placeholder="Gendewr" name="gender" %}
						</div>

<!-- get password1 -->

						<div class="form-group validate-input"  date-validate="Enter Password" >
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
						  {% render_field form.password1 class="form-control" placeholder="Password" required=True name="password" %}
						</div>

<!-- get password2 -->
						<div class="form-group validate-input"  date-validate="Enter Password" >
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
							{% render_field form.password2 class="form-control" placeholder="RePassword" required=True name="password" %}
						  </div>



					<div class="container-login100-form-btn m-t-32">
						<button type="submit" class="form-control btn btn-primary submit px-3">SignUp</button>
					</div>

				</form>


				<p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>

			  <div class="text-center p-t-115">
				<span class="txt1">
					Do You have Account?
				</span>

				<a class="txt2" href="{% url 'accounts:login' %}">
					Log In
				</a>
			</div>
			<br>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/js/main.js' %}"></script>

</body>
</html>